#itemDetails{
	margin-top: 10px;
}
.itemHead{
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	color: #0081c2;
	background-color: #ececec;
}
.itemHead p{
	margin-left:8px;
}
table{
	margin-top:-18px;
}
input{
	vertical-align: top;
}
.confirmBtn{
	text-align:center;
	/*margin:0 auto;*/
}