.navigation{
	background: #0081c2;
	height:50px;
	border-bottom: solid 1px #C8C3B3;
}
.container{
	font-size:14px;
	/*padding:5px 0px;	*/
}
.top-left {
	color:#ffffff;
	font-weight:bold;
	font-size:18px;
}
.navbar .nav li a{
	padding:5px 0px;
	margin-top:5px;
}

.navbar .nav .active{
	background-color: #0081c2;
}
.navbar .nav li a:active,
.navbar-inverse .nav .active a,
.navbar-inverse .nav .active a:hover,
.navbar-inverse .nav .active a:focus{
  color: #ffffff;
  border-bottom:5px solid #ececec;
  font-size:18px;
}
.dropdown-menu li{
	margin:12px 0px;
}
.main-content{
	margin-top:50px;
}
.selectItems,
.actionItems{
	padding-top: 15px;
}
.top-right{
	font-size:14px;
	color:#ffffff;
	float:right;
	margin-top:14px;
	margin-right:10px;
}





