#detail_message{
	margin-left: 50px;
}
#header{
	margin-top: 10px;
	position: relative;
	margin-left: 10px;
}
.table{
	margin-right: 30px;
	margin-left: 50px;
	table-layout: fixed;
}
#tdstyle{
	text-align: center;
	vertical-align: center;
}
.lable_style{
	float:left;
	margin-left: 20px;
	width: 70px;
}
.input_style{
	display: inline;
	float: left;
	margin-left: 10px;
}
#btnstyle{
	text-align:center;
	margin-top: 50px;
}
.btn{
	width: 80px;
}
