.selectItems .btn{
	margin:0px 8px 10px;
}
.selectItems span{
	color: #0081c2;
	font-weight: bold;
}
.selectItems select,
.selectItems input{
	/*width:150px;*/
	margin-right: 12px;
}
.selectItems span,
.selectItems select,
.selectItems input{
	vertical-align: 5%;
}
#datepick{
	padding:0px;
	border-color:#0081c2;
}
.pagination{
	padding-top:30px;
}
.content{
	margin-top:10px;
}
.sleMode{
	display:inline;
	display:none;
}